$widthCalendar:300; 


.calendar{
    width: $widthCalendar+px;
    height: 250px;
    border: 1px solid red;
    margin: 0 auto;
    
}
.calendarHeader{
    display: flex;
    justify-content: space-between;
    >div{
        display: flex;
        align-items: center;
        >button{
            width: 20px;
            height: 20px;
        }
    }
   
}
.weekDays{
    width: 100%;
}
.monthDays{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-auto-rows: 1fr;
    cursor: pointer;
}
.isActive{
    border-radius: 20px;
    background-color: blue;
    color: white;
}